<%- include('../partials/html-head') %>
<link rel="stylesheet" href="/stylesheets/flights/new.css" />
<%- include('../partials/nav') %>

<main>
  <h1><%= Add a New Meal %></h1>
  <form id="add-meal-form" action="/meals" method="post">
    <label for="name-input">Meal Item:</label>
    <input type="text" name="name" id="name-input">
    <button type="submit">Add Meal</button>
  </form>
  <p>
    Please first ensure that the Meal is not in the drop down</p>
    <ul>
      <% meals.forEach(function(meal) { %>
        <li><%= meal.name %></li>
      <% }) %>
    </ul>
</main>

<%- include('../partials/footer') %>